*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #000;
}

html, body{
	height: 100%;
	overflow-x: hidden;
	transition:all 0.5s;
}

#mainform{
	margin: 0 auto;
	padding: 30px;
	height: 501px;
	width: 501px;
	border: 1px solid #000;
}

#infos{
	margin: 0 auto;
	width: 800px;
	height: 100%;
	padding: 30px;
}

.own_info{
	margin: 0 30px;
	margin-top: 20px;
	padding: 20px;
	width: 250px;
	height: 350px;
	float: left;
	border: 1px solid #000;
}

